
* {
  box-sizing: border-box;
}

body {
  background-color: #F9F5F5;
  font-family: 'Roboto', sans-serif;
  margin:0px;
}


.name {
  font-size: 60px;
  margin: 0;
  font-family: 'Dancing Script', cursive;
  color: darkturquoise;
}

h1 {
  margin-top: 10px;
  padding-left: 32px;
  text-align:center;
  font-size: 24px;
  font-weight: lighter;
}

ul {
  list-style: none;
  text-align: center;
}

.button {
  background-color: white;
  margin-left: -2.4rem;
  margin-right: 0rem;
  margin-top:10px;
  padding:10px;
}


.nav a:hover {
  color: turquoise;
}


a {
  text-decoration: none;
  color: black;
}


main {
  background-color: white;
  display:block;
  padding-bottom: 10px;
}


.nav,
.profile-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 80%;
}


h2 {
  text-align: center;
}

p {
  text-align: center;
  color: darkgray;
}


/*portfolio*/

#portfolio {
  padding: 20px;
}

p,
.portfolio-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:92%;
}



.clearfix {
  overflow: auto;
}

/*for Tablet*/

/***tablet navigation menu****/

@media (min-width: 768px) {

li {
  display: inline-block;
  margin: auto;
}

.button {
  background-color: #F9F5F5;
  margin:10px;
  padding:10px;
}

/**intro two columns **/

.wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.wrapper > div {
  flex: 1;
}

/**portofolio two colums**/


.project {
  float:right;
  max-width: 50%;
  display:inline-block;
}

}

/*for Desktop*/
@media (min-width: 1024px){

  .name {
    float:left;
  }


.nav {
  margin:auto;
  float:right;
  width: 40%;
  }

.button {
  padding:10px;
  float:left;
}

  .project {
    float:right;
    margin:auto;
    max-width: 33.3%;
  }

}
